<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <title>ResuMe App Privacy Policy</title>
   </head>

   <body>

      <div class="container">

      <h1 class="mt-5 mb-5 text-primary text-center">ResuMe</h1>

      <article>
      <h4>Règles de confidentialité</h4>

      <p class="text-muted">ResuMe a étée créée par Sbizzera Boris. Le terme Application s’applique à l’application pour mobile ou tablette Android « ResuMe ». Les règles de confidentialité expliquent quelles données je collecte depuis l’Application et les raisons de cette collecte, comment ces informations sont traîtées et utilisées et à quels tiers je pourrai éventuellement les divulguer.</p>
   </article>
   <article>
      <h4>Données Personnelles</h4>

      <p class="text-muted">Depuis mon Application, je ne collecte aucune donnée personnelle (par exemple: les noms, les adresses, les numéros de téléphone, les adresses de courrier électronique ou les adresses IP complètes).</p>
   </article>
   <article>
      <h4>Permissions demandées par l'Application</h4>

      <p class="text-muted">Aucune</p>
   </article>
   <article>
      <h4>Données personnelles non collectées automatiquement</h4>

      <p class="text-muted">Je ne collecte aucune information personnelle identifiable. Je ne vends pas, n'échange ni ne transfère ces informations à des tiers</p>
   </article>  

   </body>

</html>