<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <title>Boris Sbizzera Développeur Android</title>
   </head>

   <body>

      <div class="container">

     
      <h1 class="text-center"> Boris Sbizzera </h1>

      <div class="list-group list-group-flush">
           <a class="list-group-item list-group-action active" href="/public/pdfs/cv.pdf"> Mon cv </a>
       </ul>

      </div>

   </body>

</html>